.detail-centered {
    margin: auto;
    width: 50%;

    /*margin: 0 auto;*/
    /*padding: 0 1em;*/
}

.beer-detail {
    display: flex;
    flex-direction: column;
}

.beer-detail > .card {
    align-self: center;
    max-width: calc(50% -  1em);
}

